streamlit
streamlit_option_menu
tensorflow
einops
transformers
keras
torch
opencv-python-headless
scikit-learn==1.2.2
tiktoken
sentencepiece
easyocr 
paddleocr 
paddlepaddle
wheel 
setuptools
cython
git+https://github.com/Xuanhoang214/VietnameseTextNormalizer.git