streamlit
streamlit_option_menu
tensorflow
einops
transformers
keras
torch
opencv-python-minimal
scikit-learn==1.2.2
tiktoken
sentencepiece
easyocr 
paddleocr 
paddlepaddle
wheel 
setuptools
cython
numpy==1.23.5